.git
.turbo
**/.turbo
**/node_modules
**/.next
**/.env
**/.env.*
!**/.env.example
apps/api/vendor
apps/api/storage/*.key
apps/api/.phpunit.result.cache
apps/web/tsconfig.tsbuildinfo
apps/web/next-env.d.ts
dev.log
dev-local-test.log
*.log
docs
apps/api/docs
apps/web/docs
